@import url(http://fonts.googleapis.com/css?family=Montserrat);

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;

}

@mixin transform($translate){
	-ms-transform: $translate;
	-webkit-transform: $translate;
	transform: $translate;
}

$font-stack: Montserrat, Helvetica, sans-serif;
$background: #f9f9f9;
$primary-color-500: #673ab7;
$primary-color-100: #d1c4e9;
$primary-color-700: #512da8;
$accent-color: #ffd740;
$accent-color-fallback: #ffe57f;
$sidebar-br: 15px;



body {
	font: 100% $font-stack;
	background-color: $background;
}

.navbar {
	color: #eeeeee;
	background-color: $primary-color-500;
	border: none;
	box-shadow: 2px 2px 10px black;
}

#about {
	float: right;
	opacity: .75;
	color: #e0e0e0;
	margin-top: 8px;
	cursor: pointer;
}

#aboutModal {
	@include transform(translate(-50%, -50%));
	position: absolute;
	top: 50%;
	left: 50%;
}

.row {
	height: 100%;
	padding: 0 2em 0 2em;
}

#sidebar {
	position: relative;
	height: 100%;
	padding: 1em;
	background-color: $accent-color;
	overflow: hidden;
}

#ingredient-display {
	border: 1px solid black;
	margin-top: 1em;
	height: 15em;
	padding: 0;
}

#sidebar, #ingredient-display {
	@include border-radius(10px);
	box-shadow: 2px 2px 10px black;
	border-color: $primary-color-500;
	border-width: 2px;
}

#ingredient-display {
	h5 {
		@include border-radius(5px 5px 0 0);
		background-color: $primary-color-500;
		margin-top: 0;
		padding: .25em .25em .25em 1em;
		color: #eeeeee;
	}
}

.buttonCenter {
	text-align: center;
	margin-top: 1em;
}

.buttonCenter {
	button,
	button:focus,
	button:active {
		background-color: $primary-color-500;
		border-color: $primary-color-500;
		outline: none;
	}
}

.buttonCenter {
	button:hover {
		background-color: $primary-color-700;
		border-color: $primary-color-700;
	}
}

#ingredient-display {
	button:hover {
		text-decoration: line-through;
	}
}
